In [4]:
import plotly.offline as po
import plotly.graph_objs as go
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
sales = pd.read_excel("./data/sales.xls", 1)
sales.head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.02,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02

In [6]:
order_priority = pd.pivot_table(sales, values='Sales', index="Order Priority")

In [7]:
order_priority

                      Sales
Order Priority
Critical        1694.526538
High            1848.052240
Low             1908.506033
Medium          1755.028890
Not Specified   1661.700536

In [8]:
data = [go.Bar(
    x = order_priority.index,
    y = [x[0] for x in order_priority.values.tolist()],
    name = "Ave Sales by Ship Mode",
)]

layout = go.Layout(title = "A layout")

fig = go.Figure(data = data, layout = layout)

po.plot(fig)

'temp-plot.html'

In [9]:
# Scatter Plot
orders_sf = sales[['Sales', 'Profit']]
orders_sf.head()

        Sales     Profit
0    261.5400  -213.2500
1  10123.0200   457.8100
2    244.5700    46.7075
3   4965.7595  1198.9710
4    394.2700    30.9400

In [11]:
import numpy as np

In [16]:
data = [go.Scatter(
    x = orders_sf.Sales,
    y = orders_sf.Profit,
    mode = "markers",
    
    marker = dict(
        size = 14,
        color = 'rgb(120,150,180)',
        symbol = 'square',
        line = dict(
            width = 2,
        )
    )
)]

In [17]:
layout = go.Layout(
    title = 'My first layout', 
    xaxis = dict(title = "x-axis"),
    yaxis = dict(title = "y-axis"),
    hovermode = 'closest'
)

figure = go.Figure(data = data, layout = layout)

po.plot(figure)

'temp-plot.html'